<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ning Budaya Songak</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='logo.png') }}" rel="icon" type="image/x-icon" />
    <link
        href="https://fonts.googleapis.com/css?family=Host Grotesk:300,300i,400,400i,600,600i,700,700i|Eagle Lake:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">
    <style>
        body {
            font-family: "Host Grotesk", sans-serif;
            background-color: #f2f2f2;
            background-image: url('../static/slide2.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.616);
            padding: 20px;
            border-radius: 5px;
            margin-top: 50px;
            margin-bottom: 50px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            font-family: "Eagle Lake", serif;
            font-weight: bold;
        }

        .image-container {
            text-align: center;
            margin-bottom: 20px;
        }

        .image-container img {
            max-width: 70%;
            height: auto;
            border-radius: 5px;
        }

        .content {
            margin-bottom: 20px;
            text-align: justify;
            font-weight: bold;
            font-size: 20px;
        }

        .navigation {
            text-align: center;
            margin-top: 20px;
        }

        .navigation a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
        }

        .navigation a:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>MASJID AL FALAAH</h1>
        <div class="image-container">
            <img src="../static/slide2.jpeg" alt="Image">
        </div>
        <div class="content">
            <p>Setelah sekian lama ditinggalkan penghuninya, desa ini menjadi sepi akibat cap sebagai tempat tinggal
                masyarakat yang dianggap leak. Menjelang akhir abad ke-13, sekitar tahun 1299 M,
                datanglah sembilan orang yang sangat mirip satu sama lain, mereka menyebut diri Ki Sanga Pati. Mereka
                kemudian menjadi penghuni baru desa yang terbengkalai ini. Rupanya, para wali ini sengaja mencari tempat
                yang jauh dari keramaian. Tidak mengherankan jika desa
                terpencil ini menjadi pilihan mereka, mengingat desa ini sudah lama ditinggalkan penduduknya. Konon,
                pada masa itu, tidak ada seorang pun yang berani mendekati desa kosong ini. Walaupun sudah
                bertahun-tahun Ki Sanga Pati tinggal di tempat ini, keberadaan mereka baru diketahui
                orang-orang setelah mereka membangun sebuah masjid di desa tersebut.</p>
            <p>Masjid ini dibangun sebagai tempat ibadah sekaligus tempat untuk bersemedi. Orang yang membangun Masjid
                ini kemudian terkenal dengan sebutan Sanga Pati, yang diperkirakan sekitar tahun 1309 M. Konon, Masjid
                ini tidak dibangun seperti biasa, yaitu dengan menggunakan alat seperti palu, pahat, dan lainnya. Para
                wali yang membangunnya bekerja dengan cara yang berbeda, yakni dengan memanfaatkan ilmu Laduni yang
                mereka peroleh bersama selama melakukan persemediannya. Dengan kekuatan batin Sanga Pati, konon ada
                tujuh Masjid di Pulau Lombok yang dibangun pada waktu yang bersamaan, di tempat yang berbeda-beda,
                bahkan menyebar di seluruh pulau Lombok.</p>
            <p>Demikianlah sedikit kisah tentang pembangunan Masjid Pusaka yang sudah lama menjadi teka-teki mengenai
                keberadaannya di Desa Songak. Kini, Desa Songak tidak lagi menjadi desa yang ditakuti orang, karena
                tidak lagi dikenal sebagai desa 'leak', melainkan sebagai desa Sanga Pati, tempat berdirinya Masjid yang
                menjadi pusat ibadah bagi umat Islam di Lombok Timur dan sekitarnya. Selanjutnya, Masjid ini diyakini
                oleh masyarakat Songak sebagai tempat penyimpanan kekayaan Datu Selaparang I. Sebagaimana yang telah
                disinggung sebelumnya, Masjid ini juga digunakan oleh masyarakat Songak pada masa lalu sebagai tempat
                pertahanan dari serangan musuh, baik secara perorangan maupun berkelompok.</p>
            <p>Sebagai bukti sejarah mengenai penggunaannya sebagai tempat berlindung dari gangguan musuh, penulis
                mengulas sebuah kisah yang oleh orang tua dahulu disebut Mangkat. Mangkat adalah sebuah ritual yang
                dilaksanakan oleh para orang tua dahulu ketika akan berangkat berperang atas perintah Datu Sakra.
                Sebelum berangkat perang, mereka senantiasa melaksanakan ritual ini dengan cara berkumpul terlebih
                dahulu di Masjid Pusaka. Setelah berkumpul, pemimpin ritual akan membakar kemenyan. Sang pemimpin duduk
                bersimpuh menghadap ke arah mimbar sambil berdoa.</p>
            <p>Sehabis berdoa, barulah para peserta mengambil pelapah enau kecil, kemudian dikalungkan ke leher. Para
                hadirin mengikuti apa yang dilakukan sang Imam. Setelah semua siap dengan pelapah enau yang dikalungkan,
                sang pemimpin kemudian mengajak mereka berkeliling masjid sebanyak tujuh kali putaran, layaknya orang
                tawaf di Baitullah, sambil berjalan dan membawa kemenyan yang mengepul. Selama berputar, sang pemimpin
                mengumandangkan doa yang telah disebutkan sebelumnya.
            </p>
            <p>Setelah ritual selesai, barulah pasukan diperbolehkan berangkat ke tempat yang ditunjukkan oleh Baginda
                Datu. Bagi pasukan yang tidak mengikuti ritual, mereka tidak diperbolehkan ikut berperang. Jika tetap
                bersikeras, mereka harus bertarung terlebih dahulu melawan pemimpin pasukan. Jika diperbolehkan, barulah
                mereka bisa bergabung, tetapi jika tidak diperbolehkan dan tetap nekad, maka mereka diyakini akan
                terbunuh oleh musuh di medan perang.</p>
            <p>Selain digunakan sebagai tempat ritual Mangkat, Masjid Pusaka ini juga digunakan untuk pengesahan minyak
                Ki Sanga Pati, yang sekarang dikenal dengan nama minyak Songak. Setiap tanggal 12 Rabi’ul Awal, setiap
                tahun, dilaksanakan ritual mulut adat yang wajib dilaksanakan pada hari kelahiran Nabi Muhammad SAW.
            </p>
            <p>Masjid Pusaka ini sejak dahulu kala, jika kita perhatikan dengan seksama, seakan tidak pernah sunyi dari
                berbagai kegiatan masyarakat, baik yang bersifat pribadi maupun yang bersifat kemasyarakatan. Kita masih
                dapat menjumpai berbagai kegiatan masyarakat setiap bulan Muharam, di mana masyarakat secara
                bersama-sama mengadakan ritual Bubur Putiq (bubur yang terbuat dari ketan putih) setiap tanggal lima,
                kadang tanggal sepuluh, atau paling lambat tanggal lima belas Muharam. Selanjutnya, pada bulan Safar,
                juga diadakan ritual Bubur Beaq. Bulan berikutnya adalah bulan Rabi'ul Awal, yang dikenal dengan bulan
                Maulid, di mana diadakan perayaan Maulid Adat, sebagaimana telah disampaikan di atas.</p>
            <p>Hanya ada tiga bulan berturut-turut di mana Masjid ini sunyi dari kegiatan kemasyarakatan, yang oleh
                orang tua dahulu disebut sebagai bulan Suwung. Pada tiga bulan ini, hanya ada kegiatan biasa seperti
                layaknya masjid pada umumnya, yaitu kegiatan shalat setiap waktu, shalat Jumat, dan hari besar Islam
                lainnya.</p>
            <p>Sebagaimana layaknya masjid pada umumnya, Masjid ini juga mendapat perhatian dari masyarakat Songak sejak
                dahulu, sesuai dengan kemampuan dan tingkat daya pikir masyarakat dalam setiap kurun waktu. Pada
                awalnya, konon masjid ini berdiri selama kurun waktu 190 tahun sejak dibangun pada tahun 1309 M. Baru
                pada tahun 1499 M, untuk pertama kalinya, atap alang-alangnya diganti. Penggantian yang kedua terjadi
                sekitar tahun 1449 M, dan setelah itu, penggantian alang-alang dilakukan setiap dua puluh lima tahun,
                hingga penggantian terakhir pada tahun 1719 M.</p>
            <p>Pada masa itu, datanglah Anak Agung ke Kerajaan Parwa, dan masjid ini seakan tidak berani diadakan
                kegiatan apa pun secara terang-terangan. Masyarakat tidak berani menyebutnya sebagai masjid, melainkan
                menyebut tempat suci ini dengan sebutan Langgar. Bahkan pada suatu kali, ketika Anak Agung lewat dan
                menanyakan bangunan tua ini, masyarakat Songak menyebutnya Bale Bleq, tempat pertemuan Banjar.</p>
            <p>Setelah lama, Anak Agung Karangasem tidak lagi menanyakan masalah agama. Kerukunan hidup antar umat
                Islam dan penganut agama Hindu-Buddha mulai bisa berjalan dengan baik. Menjelang akhir abad ke-18,
                sekitar tahun 1897-1899, masjid ini mulai dibangun kolam di halaman masjid tua ini. Jalan menuju masjid
                induk dibangun di tengah-tengahnya. Kolam di sebelah kiri diperuntukkan bagi jamaah perempuan, sementara
                kolam di sebelah kanan untuk jamaah laki-laki. Kegiatan ini adalah bagian akhir dari pembuatan jembatan
                yang menghubungkan Desa Songak dan Rumbuk.</p>
            <p>Inilah awal dari perubahan bentuk bangunan kuno ini menjadi bangunan modern, sesuai dengan perkembangan
                peradaban manusia pada zaman itu. Masjid kuno ini mulai disemen pada serambinya, sementara pondasi
                bangunan tetap terbuat dari tanah. Tempat berdirinya keempat tiang induk masjid juga mulai diganti. Yang
                semula menggunakan batu sebagai cendi’, kini diganti dengan bok yang terbuat dari tanah liat yang
                dibakar dan dilapis dengan semen, mirip dengan bok yang digunakan sebagai pembatas setiap kilometer di
                jalan raya pada zaman Belanda. Meskipun serambi dan cendi’ sudah dilapis semen, keasliannya masih
                terjaga, baik dari ukuran besar, jumlah tiang di pinggirnya, maupun pagar dan hiasan lainnya, bahkan
                ketinggian pondasinya.</p>
            <p>Baru pada tahun 1920, datanglah Tuan Guru Lopan dari Darmaji, Lombok Tengah, yang mengajak masyarakat
                Songak untuk mulai menegakkan ajaran syariat. Mulailah masyarakat Songak melaksanakan sholat berjamaah
                di masjid. Namun, ketika berjamaah, terkadang ada yang memanggil dari luar, sehingga sering kali
                mengganggu kekhusyukan sholat berjamaah. Atas dasar itulah, masjid ini dibangun tembok dengan cetakan
                bata mentah berukuran besar, terkadang ada yang berukuran 60 cm x 80 cm. Tembok itu mengelilingi masjid,
                dengan membiarkan tiangnya tetap di dalam, sementara temboknya dibangun dari luar. Pengerjaan tembok
                kali ini dimotori oleh Jero Kertasih (Kepala Desa Songak), Papuq Candra (Penghulu Desa), Papuq Delah
                (Sesepuh Masyarakat), bersama Tuan Guru Lopan.</p>
            <p>Sejak saat itu, tidak ada lagi berita yang dapat kita peroleh mengenai keberadaan Masjid Pusaka Sanga
                Pati ini, mungkin karena terhambat oleh rasa ketidakamanan yang dirasakan masyarakat, akibat berbagai
                peristiwa yang terjadi bersamaan dengan hadirnya penjajahan Jepang yang terkenal dengan sebutan Nippon.
                Ditambah lagi dengan gegap gempita gerakan kemerdekaan Republik Indonesia, sehingga apa pun yang pernah
                dilaksanakan hingga tahun 1960-an, tidak lagi terdengar.</p>
            <p>Pengelolaan masjid ini seakan diserahkan sepenuhnya kepada penghulu desa, yaitu Papuq Candra, yang
                kemudian lebih dikenal dengan sebutan Papuq Pengulu. Beliau wafat sekitar tahun 1980 pada usia sekitar
                160 tahun.</p>
            <p>Pada tahun 1962, keadaan negara sudah dikatakan aman, namun sebagian masyarakat mulai tidak peduli
                terhadap Masjid Pusaka ini. Mereka ingin mencoba menghilangkan jejak sejarah, dan timbullah berbagai
                macam alasan. Dari keadaan seperti ini, nampaklah perpecahan di masyarakat Songak menjadi dua golongan,
                yaitu golongan yang cinta kepada Masjid Pusaka dan golongan yang menentang keberadaannya. Salah satu
                pertentangan yang muncul adalah antara Haji Athar Muhtar dan Papuq Pengulu.</p>
            <p>Dari pertentangan inilah, H. Athar membangun masjid yang kemudian dinamakan Masjid Al-Mujahidin, dengan
                dukungan dari keluarga pejabat desa dan keluarga kaya. Mereka pun berhasil mengumpulkan masyarakat dan
                membuat mereka menjadi pendukung, sehingga perjuangan ini berhasil mengajak semua masyarakat untuk ikut
                berpartisipasi dalam upaya membangun masjid baru yang menjadi saingan bagi masjid tua yang tercinta. Tak
                ayal lagi, masyarakat terpecah, walaupun akhirnya mereka berhasil bersatu, namun persatuan itu tetap
                berbekas hingga akhir dunia ini.</p>
            <p>Masjid Al-Mujahidin berdiri dengan megah, sementara Masjid Pusaka semakin terlupakan, bagaikan hidup
                segan mati pun tak mau. Hingga pada akhir tahun 1977, barulah masjid ini mendapat perhatian dari Haji
                Masrah, Kepala Desa Keselet saat itu. Sudah pasti banyak peristiwa yang terlewatkan oleh keterbatasan
                pengalaman para pencinta benda tua ini. Sejak tahun 1975, penulis mulai aktif mengambil bagian dalam
                memperbaiki, merawat, dan memelihara bangunan tua ini. Mulailah dibangun tambahan di sebelah timur,
                dekat pintu timur, setelah sebelumnya di sebelah selatan telah dibangun sebuah bangunan memanjang yang
                menutupi sebagian besar permukaan bangunan kuno. Bagian bawahnya ditimbun dengan tanah sampai setengah
                pondasinya tertutup, dan dibuat sebagai serambi teras. Juga dibangun sebuah gudang yang membentang dari
                selatan ke utara hingga memenuhi seluruh bangunan di sebelah timur.</p>
            <p>Jika kita lihat dari arah timur, yang tampak hanya bangunan tambahan, sedangkan bangunan asli tidak
                pernah diubah. Hanya saja, tiang kayu yang mengelilingi bagian pinggir telah diganti dengan tiang dari
                filar, dan ditambah dengan pagar dari triplex sebagai penutup antara bangunan lama dan tambahan. Hal ini
                berlangsung hingga akhir tahun 1979. Pada tahun 1986, kembali dibangun sebuah bangunan di sebelah utara
                hingga memenuhi seluruh halaman utara. Bangunan induk kemudian disamakan tinggi serambinya dengan
                bangunan tambahan, sehingga nampak lebih luas dan lapang, karena sudah tidak ada lagi dinding pemisah
                antara bangunan induk dan tambahan.</p>
            <p>Hilanglah semua bentuk bangunan kuno yang ada pada Masjid Pusaka, dan tak ubahnya seperti kumpulan
                bangunan gudang yang disatukan untuk memenuhi kebutuhan, meskipun kemampuan untuk melakukannya belum
                ada. Namun, apapun bentuknya, masjid tetap digunakan oleh jamaah, paling tidak sebagai tempat untuk
                belajar ngaji bagi anak-anak, selain digunakan untuk ibadah setiap waktu dan juga untuk hari besar Islam
                yang dilakukan secara bergilir sejak disepakati sekitar tahun 1972 hingga sekarang.</p>
            <p>Adapun kegiatan ritual adat seperti mulut bejariq, bubur putiq, bubur beaq hilang entah ke mana hingga
                awal tahun 1999. Tibalah saatnya kebangkitan Masjid Pusaka yang sejak lama dikenal dengan sebutan Masjid
                Al-Falah. Pada awal tahun 1999, atas kehendak Yang Maha Kuasa, masjid ini dikembalikan ke bentuk semula.
                Dengan susah payah, seluruh masyarakat bergotong-royong mengangkat kembali tanah yang pada akhir tahun
                1987 mereka timbun dari jauh. Hal itu bukanlah masalah bagi masyarakat yang penuh semangat. Mereka
                bergotong-royong untuk menggali timbunan tanah yang mengelilingi pondasi bangunan tua tersebut, dan
                akhirnya masjid tua ini kembali kelihatan kokoh berdiri seperti yang kita saksikan sekarang ini.</p>
            <p>Dari hasil penggalian, tampak pondasi yang sudah sekian lama tertutup itu agak rapuh. Masyarakat pun
                melanjutkan penggalian pondasi semula, yang akan diganti dengan batu. Penggalian pondasi semula mulai
                berlangsung, dan masyarakat merasa kaget menyaksikan deretan bata kepala dari tanah liat yang sudah
                tertimbun sekian lama namun tidak berubah sedikit pun. Akhirnya, masyarakat menaikkan bata kepala
                tersebut ke tengah serambi masjid, tepatnya disusun di antara empat tiang masjid tersebut. Pemasangan
                pondasi batu berlangsung hingga selesai. Setelah tembok selesai ditembok, keesokan harinya disepakati
                untuk memasang dinding sekeliling masjid, seperti yang terlihat saat ini. Teknik ini diharapkan abadi,
                dan tidak ada lagi perubahan pada tembok bangunan asal masjid ini.</p>
            <p>Masjid ini sudah menjadi milik negara, dan oleh karena itu, jika ada yang ingin melakukan perubahan,
                harus mendapatkan izin dari pihak pemerintah. Pada tahun 2005, halaman masjid ini dapat diperluas berkat
                upaya Kepala Desa Saifullah Aman, yang sekaligus membuka tabir yang menutupi masjid pusaka ini dari
                ketertutupan di tengah masyarakat Lombok Timur. Pada saat yang sama, diadakan juga peresmian makam
                Sebengak yang diberi nama Makam Keramat Songak oleh Bupati Lombok Timur saat itu, yaitu Hajji Ali Bin
                Dahlan, yang lebih dikenal dengan sebutan Ali BD.</p>
            <p>Selanjutnya, perluasan halaman masjid di sebelah selatan dilaksanakan pada akhir tahun 2007, dan
                perluasan di bagian utara dilakukan pada pertengahan tahun 2009. Demikian sekilas tentang perkembangan
                Masjid Pusaka yang kemudian dikenal dengan sebutan Masjid Al-Falah ini. Cita-cita sang penghayal
                kemajuan masjid ini masih belum rampung. Belum semua rumah yang ada di sebelah selatan bangunan tua ini
                dapat dijadikan halaman masjid pusaka. Dengan demikian, barulah orang akan benar-benar mengetahui
                keberadaan Pusaka Ki Sanga Pati yang ada di Desa Songak.
            </p>
        </div>
        <div class="navigation">
            <a href="/sejarah-songak">Previous</a>
            <a href="/">Back to Home</a>
        </div>
    </div>
</body>

</html>