<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ning Budaya Songak</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='logo.png') }}" rel="icon" type="image/x-icon" />
    <link
        href="https://fonts.googleapis.com/css?family=Host Grotesk:300,300i,400,400i,600,600i,700,700i|Eagle Lake:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">
    <style>
        body {
            font-family: "Host Grotesk", sans-serif;
            background-color: #f2f2f2;
            background-image: url('../static/slide1.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.616);
            padding: 20px;
            border-radius: 5px;
            margin-top: 50px;
            margin-bottom: 50px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            font-family: "Eagle Lake", serif;
            font-weight: bold;
        }

        .image-container {
            text-align: center;
            margin-bottom: 20px;
        }

        .image-container img {
            max-width: 70%;
            height: auto;
            border-radius: 5px;
        }

        .content {
            margin-bottom: 20px;
            text-align: justify;
            font-weight: bold;
            font-size: 20px;
        }

        .navigation {
            text-align: center;
            margin-top: 20px;
        }

        .navigation a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
        }

        .navigation a:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>SEJARAH SONGAK</h1>
        <div class="image-container">
            <img src="../static/slide1.jpeg" alt="Image">
        </div>
        <div class="content">
            <p>Desa Songak adalah nama desa yang konon dulunya bernama Desa Leaq, yang kemudian terkenal pada zaman
                dahulu kala dengan sebutan Desa Leak. "Leaq" bermakna sangat awal atau mula, yang artinya lebih dahulu
                adanya, sementara "Leak" adalah kata yang berasal dari bahasa Bali yang dalam bahasa Sasak berarti
                "Selaq", yaitu manusia yang memiliki ilmu jahat, sehingga dengan ilmunya orang tersebut bisa menyebabkan
                orang lain sakit sesuai kehendak Sang Tuselaq (Tau Selaq).</p>
            <p>Hal inilah yang kemudian menjadi alasan mengapa desa ini tidak berpenghuni lagi. Konon, orang-orang yang
                tinggal di desa ini merasa malu jika disebut sebagai orang Leak, karena mereka selalu ditakuti oleh
                masyarakat di desa lain. Kemudian, datanglah sembilan orang laki-laki yang berusia sama dan berwajah
                mirip, seperti orang kembar sembilan, yang membangun sebuah bangunan sembilan kali sembilan sebagai
                tempat berkumpul, beribadah, dan membahas pelajaran agama. Orang-orang ini dikenal dengan nama Kisanga
                Pati, yang artinya sembilan penduduk inti dari desa ini. Inilah yang kemudian menjadi sebutan desa ini,
                yaitu Desa Sanga Pati.</p>
            <p>
                Menurut cerita orang tua, desa ini sudah mengalami perubahan nama sebanyak kurang lebih enam kali,
                sehingga desa tua ini jarang dapat ditemukan dalam catatan sejarah, baik sejarah sakral maupun sejarah
                Lombok lainnya. Adapun perubahan nama tersebut adalah sebagai berikut:
            </p>
            <ul>
                <li>Nama asalnya adalah Desa Leaq (cerita Iling almarhum).</li>
                <li>Berubah menjadi Desa Sanga Pati.</li>
                <li>Karena suatu tragedi yang dialami Datu Selaparang di desa ini, desa ini kemudian dinamakan Desa
                    Sebengak (latar belakang makam Sebengak).</li>
                <li>Karena desa ini merupakan tempat tinggal Raden Muntar, kakak sulung Datu Sakra, maka desa ini
                    disebut Desa Sengaka, yang berarti lebih besar atau sulung. Untuk menghindari desa ini tercatat
                    dalam sejarah, dan sekaligus menggabungkan dua bahasa, yaitu
                    bahasa Jawa Timur dan bahasa Jawa Barat dalam menyebut angka sembilan, sebagaimana kita ketahui
                    bahwa
                    sembilan menurut bahasa Jawa Timur dan Jawa Tengah adalah "Songo", sementara dalam bahasa Sunda atau
                    Jawa
                    Barat adalah "Sangak". Maka diambillah awal kata "So" dari bahasa Jawa Timur dan ujung kata "Ngak"
                    dari bahasa Jawa Barat,
                    sehingga menjadi Desa Songak. Arti yang dimaksud adalah desa Sang Ki Sanga Pati.</li>
                <li>Demi kepentingan administrasi pemerintahan Kecamatan Sakra, Kabupaten Lombok Timur, nama Desa Songak
                    dihapuskan dan diganti menjadi Desa Keselet, sementara yang ada hanya wilayah Dusun Songak.</li>
            </ul>
            <p> Aneh, bukan? Nama desa yang telah begitu lama dikenal dan resmi digunakan sejak dahulu bisa diubah
                begitu saja. Siapa yang salah dan mengapa perubahan ini terjadi? Tidaklah perlu diungkapkan lebih
                lanjut, namun itulah kenyataan sejarah tentang nama desa yang banyak menimbulkan teka-teki. Seolah ada
                unsur kesengajaan untuk menghilangkan nama desa tersebut.
            </p>
            <p><b>PENYEBAB PENYEMBUNYIAN NAMA DESA SONGAK</b></p>
            <p>Menurut hemat penulis, ada beberapa alasan mengapa nama Desa Songak ini sengaja disembunyikan atau bahkan
                dihilangkan :
            </p>
            <ul>
                <li>Karena memang demikian keadaannya.</li>
                <li>Karena ada unsur kesengajaan dari pihak-pihak tertentu yang mungkin takut kehilangan pamor atau
                    posisi
                    penting dalam sejarah atau di tengah masyarakat, sehingga timbul berbagai isu negatif tentang desa
                    ini
                    yang mengakibatkan desa ini makin dibenci dan dijauhi oleh banyak orang, bahkan dipandang sebelah
                    mata.
                    Adapun isu-isu tersebut adalah :</li>
                <ol>1. Nama Leaq yang berubah menjadi Leak.</ol>
                <ol>2. Matinya semua binatang yang minum di hilir Tibu Sundin pada Sungai Maronggek hingga muara di
                    Labuan
                    Haji, beberapa saat setelah musnahnya Ilang Sabil Batu Bangka, yang disebabkan oleh jatuhnya senjata
                    sakti Beruang Songak di Tibu tersebut.</ol>
                <ol>3. Marahnya Tuaq Gedah Songak, yang pada waktu itu mengabdi sebagai patih Datu Marong. Rakyat yang
                    terlalu tunduk dan hormat pada sang patih, bahkan melebihi hormat mereka pada Datu, membuat Datu
                    Marong murka dan mengutus prajuritnya untuk membunuh Sang Patih. Namun, Tuaq Gedah Songak bukanlah
                    orang sembarangan. Dengan hanya mengangkat telunjuk kiri dan menyebut Beruang Songak, prajurit yang
                    akan membunuhnya mati di tempat.</ol>
                <ol>4. Meninggalnya Camat Sakra I di Songak, yang jenazahnya diusung ke Sakra. Peristiwa ini dijadikan
                    bukti bahwa orang Songak adalah orang-orang yang tidak patut diperguuli, dan sebagainya. Inilah yang
                    menjadi alasan mengapa orang Songak sendiri terkadang enggan dan malu disebut sebagai orang Songak,
                    bahkan hingga saat ini masih ada keturunan yang merasa malu menjadi orang Songak.</ol>
            </ul>
            <p><b>LUAS WILAYAH DESA SONGAK</b></p>
            <p>Wilayah Desa Songak saat ini, menurut sensus terakhir, sekitar 200 hektar, terdiri dari sawah dan ladang
                kering. Setelah wilayah Desa Denggen di sebelah timur selatan diambil, dan wilayah Rumbuk di sebelah
                barat selatan bergabung dengan Kali Maronggek, maka batas wilayah desa ini semakin sempit. Dari arah
                barat utara, desa ini berbatasan dengan Desa Keselet dan Jantuk hingga pekuburan Songak barat. Wilayah
                yang masih agak luas berada di timur utara hingga perbatasan Desa Dasan Lekong dan Pancor.</p>
            <p>Jika kita melihat luas wilayah saat ini, tampaknya masyarakat desa ini terlalu mudah menyerahkan
                hak-haknya kepada desa-desa tetangga. Jika terus berlanjut seperti ini, saya khawatir anak cucu kita
                kelak akan tidak memiliki tempat tinggal. Padahal, jika kita kembali ke masa lalu, sebelum hadirnya
                masyarakat di Desa Denggen dan Keselet, wilayah Desa Songak masih sangat luas, bahkan hingga berbatasan
                dengan Desa Rarang dan Masbagik Pancor di sebelah utara, serta Sekaroh Batu Nampar di sebelah selatan.
            </p>
            <p>Namun, seiring perkembangan zaman yang diwarnai dengan keterbatasan sumber daya manusia, kenyataan ini
                harus diterima oleh generasi penerus Desa Songak. Kini masyarakat Songak bagaikan katak dalam tempurung,
                jika ingin melangkah, kakinya sudah tidak dapat bergerak leluasa karena sudah menginjak wilayah orang
                lain. Tidak mengherankan jika pada masa itu, yang bergantung pada hasil pertanian, banyak warga yang
                terpaksa menyandang gelar Maling Songak, yang hingga kini masih melekat pada sebagian orang Songak.</p>
            <p><b>KEHIDUPAN DI DESA SONGAK</b></p>
            <P>Apa yang telah terungkap di atas adalah gambaran mengenai keberadaan wilayah Desa Songak pada zaman
                dahulu. Namun, hal ini seharusnya tidak menjadi alasan untuk berputus asa dalam menghadapi kehidupan
                masa depan. Karena kenyataan menunjukkan bahwa prinsip hidup yang diajarkan oleh para pendahulu
                masyarakat Songak adalah bahwa hidup ini tidak terletak pada banyak atau sedikitnya harta yang kita
                miliki, melainkan pada gaya hidup yang sudah ditentukan oleh Tuhan yang Maha Kuasa. Berdasarkan prinsip
                tersebut, orang-orang tua dulu tidak terlalu peduli terhadap apa yang mereka klaim sebagai hak milik
                mereka. Walaupun terkadang mereka berusaha untuk merebut hak tersebut, setelah berhasil, mereka kembali
                pada prinsip tersebut.</P>
            <p><b>AL KISAH</b></p>
            <p>Pada sekitar tahun 1915 M, ketika Jero Kertasih menjadi Kepala Desa Songak, beliau berjanji akan
                mengambil hak miliknya berupa tanah garapan wilayah Telabah Saring. Beliau berangkat ke Bali untuk
                mengurusnya dan berhasil mendapatkan bukti hak milik. Namun, ketika sampai di Pelabuhan Ampenan, beliau
                bertemu dengan temannya yang berasal dari Desa Rumbuk, Jero Kali. Dengan pertimbangan keamanan keluarga
                luar, Jero Kertasih akhirnya menyerahkan bukti hak miliknya kepada temannya tersebut. Pada akhirnya,
                Jero Kertasih pulang ke rumah dengan tangan hampa, hanya membawa uang sebesar lima belas pikul uang
                bolong sebagai pengganti lelah.</p>
            <P><b>KEKAYAAN ALAM DESA SONGAK</b></P>
            <p>Desa ini termasuk desa yang tidak memiliki kekayaan alam yang mencolok jika dilihat secara kasat mata.
                Oleh karena itu, banyak orang yang bingung memikirkan kehidupan masyarakat desa yang terkesan miskin
                ini. Meskipun begitu, ada banyak kekayaan yang tersimpan di desa ini jika kita melihatnya dengan cermat
                dan teliti. Mungkin tidak banyak yang percaya, tetapi desa ini konon menyimpan banyak harta milik
                Baginda Datu Selaparang yang pertama. Ada juga sebuah kempul emas yang konon jika dibunyikan akan
                mendatangkan harta kekayaan dalam bentuk uang dan permata.</p>
        </div>
        <div class="navigation">
            <a href="/">Previous</a>
            <a href="/sejarah-masjid">Next</a>
        </div>
    </div>
</body>

</html>